
body{
    background-color: burlywood;
}
header{
    width: 100%;
    height: 130px;
    background-color: rgb(253 , 187, 64);  
    padding-left: 15%; 
    padding-top: 25px;
}
header h1{
 font-size: 50px;
 
}
.logo-img{
    width: 100px;
}
.logo-img img{
    position: absolute;
    top: -25px;
    right: -50px;
}

/* utility class start */
.container-img{
    width: 80px;
    display: inline-block;
    padding-right: 10px;
}

.container-img>img{
    width: 100%;
}
.ingre{
    padding-right: 10px;
    font-size: 25px;
}
.add{
    color: rgb(240, 3, 3);
    padding-left: 10px;
    
}
/* End utility class */

main{
    width: 100%;
    padding-left: 30px;
    background-color: white;
    
}
main h1{
    padding-top: 40px;
    margin-bottom: 70px;
    height: 50px;
}
main ul{
    list-style: none;
}
main ul li{
    padding-top: 20px;
}
.insert-cupon{
    margin: 40px 0px;
}
.insert-cupon>.discount{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(240, 167, 32, 0.2);   
    border: none;
}
main .button{
    padding-bottom: 80px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(214, 86, 107);
    color: white;
}
footer #price-burger,h4{
    font-size: 40px;
    width: 20%;
}